<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <!--<add key="connectionString" value="Data source=.\SQLEXPRESS; Initial Catalog=AutoLot; Integrated Security=True"/>-->
    <!--Doesn't work-->
    <add key="provider" value="System.Data.OleDb"/>
    <add key="cnStr" value="Provider=SQLOLEDB; Data Source=.\SLEXPRESS; Integrated Security=SSPI; Initial Catalog=AutoLot" />
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=.\SQLEXPRESS; Integrated Security=SSPI; Initial Catalog=AutoLot"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB; Data Source=.\SLEXPRESS; Integrated Security=SSPI; Initial Catalog=AutoLot"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>